name: Deploy Next.js site to GitHub Pages

on:
  push:
    branches: [main]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: "20"

      - name: Install dependencies
        run: npm install

      - name: Build and export
        run: npm run build && npm run export

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v1
        with:
          path: "./out"

      - name: Deploy to GitHub Pages
        uses: actions/deploy-pages@v1
